server {
    server_name  {{ phpmyadmin_virtualhost }};

    root   {{ phpmyadmin_directory | default('/var/www/html') }}/phpmyadmin;
    index index.php;

    location / {
        try_files $uri $uri/ /index.php;
#        autoindex on;
    }

    # pass the PHP scripts to FastCGI server
    #
    location ~ \.php$ {
        include snippets/fastcgi-php.conf;
        {% if fpm_sock.stat.exists == true %}
        fastcgi_pass unix:/run/php/php7.2-fpm.sock;
        {% else %}
        fastcgi_pass 127.0.0.1:9000;
        {% endif %}
    }

    location ~ /.well-known {
        allow all;
    }

    underscores_in_headers on;

    listen [::]:443 ssl;
    listen 443 ssl;
    ssl_certificate /etc/letsencrypt/live/{{ phpmyadmin_virtualhost }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ phpmyadmin_virtualhost }}/privkey.pem;
    include /etc/letsencrypt/options-ssl-nginx.conf;
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem;

    if ($https = '') {
        return 301 https://$host$request_uri;
    }
}
