server {
    listen       80;
    server_name  {{ item.value.servernames | join(" ") }};

    root   /var/www/{{ item.key }}/{{ item.value.public_dir_path }};
    index index.{{ item.value.project_type | default('php') }};

    access_log  /var/log/nginx/{{ item.key }}-access.log;
    error_log  /var/log/nginx/{{ item.key }}-error.log error;

    location / {
        try_files $uri $uri/ /index.{{ item.value.project_type | default('php') }}?$args;
#        autoindex on;
    }

    {% if item.value.project_type != 'html' %}
    # pass the PHP scripts to FastCGI server
    #
    location ~ \.php$ {
        include snippets/fastcgi-php.conf;
        fastcgi_pass unix:/run/php/php7.2-fpm.sock;
    }
    {% endif %}

    # location ~ \.php$ {
    #     try_files $uri =404;
    #     fastcgi_pass 127.0.0.1:9000;
    #     fastcgi_index index.php;
    #     fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
    #     fastcgi_read_timeout 1200;
    #     include fastcgi_params;
    # }

    underscores_in_headers on;
}
