server {
    server_name {{ item.value.servernames | join(" ") }};

    root   /var/www/{{ item.key }}/{{ item.value.public_dir_path }};
    index index.{{ item.value.project_type | default('php') }};

    location / {
        try_files $uri $uri/ /index.{{ item.value.project_type | default('php') }}?$args;
    }
    
    {% if item.value.websocket %}
    location {item.value.websocket.path} {
        proxy_pass http://{{ item.value.websocket.host }}:{{ item.value.websocket.port }};
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "Upgrade";
    }
    {% endif %}

    {% if item.value.project_type != 'html' %}
    # pass the PHP scripts to FastCGI server
    #
    location ~ \.php$ {
        include snippets/fastcgi-php.conf;
        fastcgi_pass 127.0.0.1:9000;
        #fastcgi_pass unix:/run/php/php7.2-fpm.sock;
    }
    {% endif %}

    location ~ /.well-known {
        allow all;
    }

    underscores_in_headers on;

    listen [::]:443 ssl;
    listen 443 ssl;
    ssl_certificate /etc/letsencrypt/live/{{ item.value.servernames[0] }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ item.value.servernames[0] }}/privkey.pem;
    include /etc/letsencrypt/options-ssl-nginx.conf;
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem;


}
{% for redirect in item.value.redirect %}
server { 
    server_name {{ redirect.from }}; 
    return {{ redirect.code|default(301) }} https://{{ redirect.to }}$request_uri; 
}
{% endfor %}
server {
    {% for servername in item.value.servernames %}
    if ($host = {{ servername }}) {
        return 301 https://$host$request_uri;
    }
    {% endfor %}


    listen 80;
    listen [::]:80;
    server_name {{ item.value.servernames | join(" ") }};
    return 404;


}
