server {
    root /var/www/{{ item.key }}/public;
    index index.php;

    server_name {{ item.value.servernames | join(" ") }};

    location / {
        try_files $uri $uri/ /index.php?$args;
    }

    # pass the PHP scripts to FastCGI server
    #
    location ~ \.php$ {
        include snippets/fastcgi-php.conf;
        fastcgi_pass unix:/run/php/php7.2-fpm.sock;
    }
    underscores_in_headers on;

    listen [::]:443 ssl;
    listen 443 ssl;
    ssl_certificate /etc/letsencrypt/live/api.schoolcredit.net/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/api.schoolcredit.net/privkey.pem;
    include /etc/letsencrypt/options-ssl-nginx.conf;
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem;


}
server {
    {% for servername in item.value.servernames %}
    if ($host = api.schoolcredit.net) {
        return 301 https://$host$request_uri;
    }
    {% endfor %}


    listen 80;
    listen [::]:80;
    server_name {{ item.value.servernames | join(" ") }};
    return 404;


}
