[program:{{ item[1].name }}-worker]
process_name=%(program_name)s_%(process_num)02d
command={{ item[1].command }}
autostart=true
autorestart=true
user={{ item[1].user|default('www-data') }}
numprocs={{ item[1].numprocs|default(1) }}
redirect_stderr=true
stdout_logfile=/var/log/{{ item[1].name }}-worker.log